<div class="home-container">
    <div class="intro">
        <div class="text-content">
            <span>
                <img src="../../../assets/dsc-logo-square.svg" class="dsc-logo" alt="">
                <h1 class="heading">DSC KGEC</h1>
            </span>
            
            <h2>Powered by Google Developers</h2>
            <p>As a Developer Student Club our primary focus is to build
                 up a community of developers not limited by the
                bounds of any college. We will be building amazing projects, 
                organizing webinars and together, we will
                make the developer community stronger than ever before. Join us.
            </p>
        </div>
        <div class="svg-content">
            <app-main-svg></app-main-svg>
        </div>

    </div>

    <div class="icon">
        <img src="../../../assets/down-arrow.png" alt="" class="arrow">

    </div>
    
</div>