.container{
    position: relative;
    height: 100vh;
    background: #fff url(../../../assets/background-grid.jpg) no-repeat 50%/cover;
    overflow: hidden;
    .router-container{
        height:100%;
        overflow-y: auto;
        padding:0 10%;-ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}