<div class="svg-container">
    <img src="../../../assets/main-svg/floor.png" class="floor" alt="">
    <img src="../../../assets/main-svg/shadows.png" class="shadows" alt="">
<img src="../../../assets/main-svg/character.png" class="character" alt="">
<img src="../../../assets/main-svg/keyboard.png" class="keyboard" alt="">
<img src="../../../assets/main-svg/monitor.png" class="monitor" alt=""> 
<img src="../../../assets/main-svg/screen1.png" class="screen1" alt="">
<img src="../../../assets/main-svg/screen2.png" class="screen2" alt=""> 
<img src="../../../assets/main-svg/mouse.png" class="mouse" alt="">
<img src="../../../assets/main-svg/plant.png" class="plant" alt="">
<img src="../../../assets/main-svg/htmlbox.png" class="box-on-head" alt="">
<img src="../../../assets/main-svg/tab1.png" class="ctab" alt="">
<img src="../../../assets/main-svg/tab2.png" class="htmltab" alt="">
<img src="../../../assets/main-svg/tab3.png"  class="csstab" alt="">

<img src="../../../assets/main-svg/table.png" class="table" alt="">
</div>
