<div class="image">
    <img src="../../../assets/main-svg/character.png"id="character" alt="">
    <img src="../../../assets/main-svg/keyboard.png" id="keyboard" alt="">
    <img src="../../../assets/main-svg/mouse.png" id="mouse" alt="">
    <img src="../../../assets/main-svg/monitor.png" id="monitor" alt="">
    <img src="../../../assets/main-svg/table.png" id="table" alt="">
    <img src="../../../assets/main-svg/screen1.png" id="screen1" alt="">
    <img src="../../../assets/main-svg/screen2.png" id="screen2" alt="">
    <img src="../../../assets/main-svg/plant.png" id="plant" alt="">
    <img src="../../../assets/main-svg/htmlbox.png" id="htmlbox" alt="">
    <img src="../../../assets/main-svg/tab1.png" id="tab1" alt="">
    <img src="../../../assets/main-svg/tab2.png" id="tab2" alt="">
    <img src="../../../assets/main-svg/tab3.png" id="tab3" alt="">
    <img src="../../../assets/main-svg/shadows.png" id="shadows" alt="">
    <img src="../../../assets/main-svg/floor2.png" id="floor" alt="">
</div>
